{% extends "user_dashboard.html" %}
{% block user_content %}
<h2>League Profiles</h2>
<style>
    .flag-img {
        width: 40px;
        height: auto;
        max-height: 30px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 10px;
    }
</style>
<ul class="list-group">
    {% for sport in sports %}
        <li class="list-group-item">
            {% if sport[3] %}
                <img src="{{ sport[3] }}" alt="{{ sport[1] }} Logo" style="height: 40px;">
            {% endif %}
            {% if sport[2] %}
                <img src="{{ sport[2] }}" alt="{{ sport[1] }} Flag" class="flag-img mr-2"">
            {% endif %}
            <a href="{{ url_for('user.profile_sport', sport_id=sport[0]) }}">{{ sport[1] }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
